body{
    background-color: powderblue;
    font-family: "Consolas";
}
h1{
    color: blue;
    font-family: "Consolas";
}
h2{
    color: blue;
    font-family: "Consolas";
}
p{
    color: dodgerblue;
    font-family: "Consolas";
}
button{
    color: dodgerblue;
    background-color: lightcyan;
    font-family: "Consolas";
    border: 4px solid cadetblue;
    border-radius: 50px;
    cursor:pointer;
}
