body{
    background-color: powderblue;
    font-family: "Lucida Console";
}
h1{
    color: blue;
    font-family: "Lucida Console";
}
h2{
    color: blue;
    font-family: "Lucida Console";
}
p{
    color: dodgerblue;
    font-family: "Lucida Console";
}
button{
    color: dodgerblue;
    background-color: lightcyan;
    font-family: "Lucida Console";
    border: 4px solid cadetblue;
    border-radius: 25px;
    cursor:pointer;
}